@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #DFCCFB;
  color: black;
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #BEADFA;
  border-radius: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 20px;
  background-color: #BEADFA;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.9)
  background-color: #B983FF;
}

button:active {
  transform: translateY(2px);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.join {
  padding: 2px;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.create-btn {
  width: 100%;
}

.create-btn:hover {
  background-color: #B983FF;
}

.message-box {
  border-color: #DFCCFB;
  border-width: 10px; 
  border-style: solid;
  border-radius: 20px;
  background-color: #FFF8C9;
  padding: 5px 5px;
  height: 45vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.message-box-chatbot {
  border-color: #DFCCFB; 
  border-width: 10px; 
  border-style: solid;
  border-radius: 20px;
  background-color: #FFF8C9;
  padding: 5px 5px;
  height: 45vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: stretch;
}

.whole-box {
  display: flex;
  flex-direction: row;
}

.room-box {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.room-box-chatbot {
  display: flex;
  flex-direction: row;
}

.members-box {
  border-color: #DFCCFB;
  border-width: 10px;
  border-style: solid; 
  border-radius: 20px;
  background-color: #FFF8C9;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width:10rem;
}

.sessions-box {
  border-color: #DFCCFB;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
  background-color: #FFF8C9;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 10rem;
  /* position: absolute;
  top: 0.5em;
  right: 0; */
}

.scrollbox {
  overflow: auto;
  padding-right: 10px;
  visibility: hidden;
}

.scrollbox-inner p {
  overflow: auto;
  color: #fff;
}

.scrollbox-inner,
.scrollbox:hover {
  visibility: visible;
}

/* CSS to add a box around each session item */
.session-item {
  border: 1px solid #D0BFFF;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  align-self: center;
}

.session-item:hover {
  background-color: #BEADFA;
}

/* CSS to highlight the currently active session */
.session-item.active {
  background-color: #BEADFA;
  border-color: #BEADFA;
}

.messages {
  overflow-y: scroll;
  padding: 1px;
  border-radius: 2px;
  margin-bottom: 1px;
  /* display: flex;
  flex-direction: column;*/
  flex: 1; 
  width: 100%;
  color: hsl(0, 0%, 0%);
}

/*  .messages-sender {
  font-weight: bold;
  margin-bottom: 0.5px;
}

.messages-text {
  font-size: 1em;
  margin-bottom: 0.3em;
  word-wrap: break-word;
} */

.messages-chatbot {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}

.inputs {
  padding: 10px;
  display: flex;
}

h2 {
  text-align: center;
}

#message {
  padding: 2px;
  border-radius: 10px;
  border: none;
  flex: 1;
}

#message-chatbot {
  padding: 2px;
  border-radius: 10px;
  border: none;
  flex: 1;
}

.text {
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.chatbot-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.muted {
  font-size: 10px;
  color: darkgray;
}

.parent-container {
  display: flex;
  flex-direction: column;
  /* This ensures the children are stacked vertically */
  align-items: center;
  justify-content: flex-start;
  /* This is optional, it aligns children to the start of the container */
}
