{% extends 'base.html' %} 
{% block content %}
<div class="chat-container">
  <div class="chat-header">
    <h3>Enter The Chat Room</h3>
  </div>
  <form method="post" class="chat-form">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" placeholder="Pick a name!" name="name" value="{{name}}" class="form-control"/>
    </div>
    <div class="form-group">
      <label>Room Code:</label>
      <input type="text" placeholder="Room Code" name="code" value="{{code}}" class="form-control"/>
    </div>
    <div class="form-actions">
      <button type="submit" name="join" class="btn btn-primary">Join a Room</button>
      <button type="submit" name="create" class="btn btn-secondary">Create a Room</button>
    </div>
  </form>
</div>
{% endblock %}
