{% extends 'base.html' %} {% block content %}
<form method="post" class="homepg">
  <h3>Enter The Chat Room</h3>
  <div class="join">
    <label>Name:</label>
    <input type="text" placeholder="Pick a name!" name="name" value="{{name}}"/>
  </div>
  <div class="join">
    <input type="text" placeholder="Room Code" name="code" value="{{code}}"/>
    <button type="submit" name="join" class="join-btn">Join a Room</button>
  </div>
  <div>
     <label>Topic:</label>
    <input type="text" placeholder="Enter a topic for discussion" name="topic"/>
  </div>
  <button type="submit" name="create" class="create-btn">Create a Room</button>
  <div>
  <label for="user_type">Choose a user type:</label>
    <select name="user_type" id="user_type">
      <option value="User">User</option>
      <option value="Moderator">Moderator</option>
      <option value="Disinformer">Disinformer</option>
      <option value="Administrator">Administrator</option>
  </select>
</div>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
  <h4>Existing Rooms:</h4>
    <ul>
        {% for room_code, topic in existing_rooms %}
        <li class="joinfromlist-btn" onclick="joinRoom('{{ room_code }}')">(Room Code: {{ room_code }}) Topic: {{ topic }}</li>
        {% endfor %}
    </ul>
</form>

<script>
  function joinRoom(code) {
      document.querySelector('input[name="code"]').value = code;
      document.querySelector('button[name="join"]').click(); // Programmatically click the join button
  }
  </script>
{% endblock %}
