{% extends 'base.html' %}
{% block content %}
<div class="parent-container">
  <div class="room-box">
    <div class="message-box">
      <h2> Chat Room: {{code}}</h2>
      <div class="messages" id="messages"></div>
      <div class="inputs">
        <input type="text" rows="3" name="message" id="message" placeholder="Message" onkeyup="checkEnter(event)"/>
        <button type="button" name="send" id="send-btn" onclick="sendMessage()">
          Send
        </button>
      </div>
    </div>
    <div class="members-box">
      <h2>Members</h2>
      <div class="members" id="members"> test test </div>
    </div>
  </div>
  <div class="room-box-chatbot">
    <div class="sessions-box">
      <h2>Sessions</h2>
      <div class="sessions" id="sessions"> test test </div>
    </div>
    <div class="message-box-chatbot">
      <h2> chatbot </h2>
      <div class="messages-chatbot" id="messages-chatbot"></div>
      <div class="inputs">
        <input type="text" rows="3" name="message-chatbot" id="message-chatbot" placeholder="Message for chatbot" onkeyup="checkEnterChatbot(event)"/>
        <button type="button" name="send-chatbot" id="send-btn-chatbot" onclick="sendMessagechatbot()">
          Send
        </button>
      </div>
    </div>
    
  </div>
</div>
<script type="text/javascript">
  // When socketio initiated, you directly connect to the socketio server associated
  // with the Flask website on localhost. This emits the 'connect' event to the server.
  var socketio = io();

  const messages = document.getElementById('messages');
  const members = document.getElementById('members');

  const createMessage = (name, msg, date, profile_picture) => {
    const content = `
    <div class="text">
      <div>
        <img src="data:image/png;base64,${profile_picture}" alt="Profile Picture">
        <span>
          <strong>${name}</strong>: ${msg}
        </span>
      </div>
      <span class="muted">${date}</span>
    </div>
    `
    messages.innerHTML += content; // adds content into the messages div with id=messages
    scrollToBottom();
  };

  const scrollToBottom = () => {
    messages.offsetHeight;
    messages.scrollTop = messages.scrollHeight;
  };


  socketio.on("message", (data) => {
    createMessage(data.name, data.message, data.date, data.profile_picture);
  });

  const sendMessage = () => {
    console.log('send message');
    const message = document.getElementById('message');
    if (message.value == "") return;
    socketio.emit('message', {data: message.value});
    message.value = ""; // clear the message box
    // scrollToBottom();  // Scroll to the bottom after sending a message
  };

  const checkEnter = (event) => {
    if (event.key === 'Enter') {
    sendMessage();
    }
  };

  socketio.on("memberChange", (membersArr) => {
    // display the members, updating the members div with the member names
    let content = ``
    membersArr.forEach((member) => {
      content += `<div class="text">
      <span>
        <strong>${member}</strong>
      </span>
    </div>
    `
    console.log(content);
    members.innerHTML = content;
    })
  });
</script>
{% for msg in messages %}
<script type="text/javascript">
  var profile_picture = "{{ profile_pictures[msg.name] if msg.name in profile_pictures else '' }}";
  createMessage('{{msg.name}}', '{{msg.message}}', '{{msg.date}}', profile_picture);
</script>
{% endfor %}
{% endblock %}